[submodule "vendor/picolibc"]
	path = vendor/picolibc
	url = https://github.com/picolibc/picolibc.git
[submodule "vendor/llvm-project"]
	path = vendor/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "vendor/xbox_leak_may_2020"]
	path = vendor/xbox_leak_may_2020
	url = https://github.com/xerohour/xbox_leak_may_2020
[submodule "vendor/stdtests"]
	path = vendor/stdtests
	url = https://github.com/winspool/stdtests.git
